@font-face {
  font-family: "iconfont"; /* Project id 4953104 */
  src: url("../fonts/iconfont.woff2?t=1750234287416") format("woff2"),
    url("../fonts/iconfont.woff?t=1750234287416") format("woff"),
    url("../fonts/iconfont.ttf?t=1750234287416") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoxing:before {
  content: "\e61c";
}

.icon-baocun:before {
  content: "\e61d";
}

.icon-bingtu:before {
  content: "\e61e";
}

.icon-bijiben:before {
  content: "\e61f";
}

.icon-tiaojie:before {
  content: "\e620";
}
